{% extends 'base.html.twig' %}

{% block title %}Confirmation{% endblock %}

{% block body %}

    <div class="container">
        <div class="col-sm-offset-1 col-sm-10 backgroundOpacity">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-8">
                    <h2>Félicitations, votre commande à bien été validée.</h2>

                    <h3 class="center">Vous allez recevoir votre confirmation de commande ainsi que
                        {% if commande.billets|length > 1 %}vos billets{% else %}votre billet{% endif %}
                        sur l'adresse mail <i>{{ commande.mail }}</i> dans quelques instants.</h3>

                    <h3 class="pull-right">Merci pour votre achat</h3>
                </div>
            </div>
            <div class="row">
                <a href="{{ path('add_commande') }}"><button class="btn btn-primary btn-lg col-sm-offset-4 col-sm-4 back-button">Retour à la page principale</button></a>
            </div>
        </div>
    </div>

{% endblock %}
