{% extends 'base.html.twig' %}

{% block body %}

    {% set quantite = "0" %}
    {% for billet in billets %}
        {% set quantite = quantite+1 %}
    {% endfor %}

    <div class="container">
        <div class="col-sm-offset-1 col-sm-10 backgroundOpacity">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-8">
                    <h2>Félicitations, votre commande à bien été validée.</h2>

                    <h3 class="center">Vous allez recevoir votre confirmation de commande ainsi que
                        {% if quantite > 1 %}vos billets{% else %}votre billet{% endif %}
                        sur l'adresse mail <i>{{ commande.mail }}</i> dans quelques instants.</h3>

                    <h3 class="pull-right">Merci pour votre achat</h3>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
