{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <h1>Billetterie du Louvre</h1>

    {{ form_start(form) }}

        {{ form_widget(form) }}
        <input type="submit" value="Valider" class="" />

        <h3>Coordonnées du visiteur</h3>
        <div class="form_billet"></div>
        <a href="#" id="add_category" class="btn btn-default">Ajouter un billet</a>

    {{ form_end(form) }}

{% endblock %}